.dl-horizontal {
  margin-bottom: 5px;
  dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.42857143;
  }
  dd {
    margin-left: 180px;
    margin-bottom: 8px;
  }
}